.ant-table-wrapper {
  margin-top: 16px;
}

.tasks-spiner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.ant-popover-content .ant-popover-inner-content {
  padding: 5px;
}
